<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photoblog</title>
</head>

<body>
    <div>
        {{if .Username}}
        <h2>Hello {{.Username}}</h2>
        <a href="/logout">Logout</a>
        {{else}}
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a> 
        {{end}}
        <a href="/images">Images</a>
    </div>
</body>

</html>